body {
    background-color: rgb(253, 159, 143);
}

.loginDiv {
    margin: auto;
    width: 400px;
    background-color: rgb(221, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
}

.formElem{
    margin-bottom: 21px;
    font-size: larger;
}

input[type="text"],
input[type="password"] {
    width: 85%;
    border: 0;
    padding: 10px;
    text-align: center;
}

input[type="submit"] {
    width: 90%;
    border: 0;
    padding: 12px;
    background-color: rgb(22, 146, 53);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: whitesmoke;
}

input[type="submit"]:hover {
    opacity: 0.9;
    background-color: rgb(12, 117, 38);
}

#forgotPasswordRef{
    font-weight: bolder;
    color: rgb(255, 51, 0);
    text-decoration: none;
}

.alterLogin{
    text-align: center;
    font-size: larger;
    color: rgb(236, 233, 233);
}

.alterLogins{
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.alterLoginButton{
    width: 175px;
    height: 55px;
    font-size: larger;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: whitesmoke;
}

.FacebookButton{
    background-color: #3A5AA2;
}

.TwitterButton{
    background-color: #1AB6EA;
}
