body {
    background-image: url(/backround.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.bodyDiv{
    height: 95vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formDiv {
    /* border: 1px solid red; */
    padding: 25px;
    padding-left: 30px;
    padding-right: 30px;
    width: 750px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.labelClass{
    color: whitesmoke;
}

#formHr{
    background-color: whitesmoke;
    border: none;
    height: 1px;
    margin-bottom: 15px;
}

#sendMessageButtonDiv{
    display: flex;
    justify-content: flex-end;
}

#sendMessageButton{
    border: 1px solid white;
    width: 250px;
    height: 37.5px;
    background-color: transparent;
    color: whitesmoke;
    font-weight: bolder;
}

#sendMessageButton:hover{
    background-color: rgba(188, 192, 188, 0.349);
}

.gridContainer{
    display: grid;
    grid-template-columns: [col1start] 0.8fr [col1end] 10px
                            [col2start] 1fr [col2end] 10px
                            [col3start] 0.6fr [col3end] 10px
                            [col4start] 0.15fr [col4end] 10px
                            [col5start] 1.9fr [col5end];
    grid-template-rows: [row1start] 1fr [row1end] 10px
                        [row2start] 1fr [row2end] 10px
                        [row3start] 1fr [row3end] 10px
                        [row4start] 1fr [row4end] 10px
                        [row5start] auto [row5end];
}

.inputClass{
    border: 0;
    padding: 7.5px;
}

.inputLabelClass{
    padding-top: 5px;
}


#label1{
    grid-column: col1start / col1end;
    grid-row: row1start;
}

#input1{
    grid-column: col2start / col3end;
    grid-row: row1start;
}

#input2{
    grid-column: col4start / col5end;
    grid-row: row1start;
}

#label2{
    grid-column: col1start / col1end;
    grid-row: row2start;
}

#input3{
    grid-column: col2start / col5end;
    grid-row: row2start;
}

#label3{
    grid-column: col1start / col1end;
    grid-row: row3start;
}

#input4{
    grid-column: col2start / col2end;
    grid-row: row3start;
}

#input5{
    grid-column: col3start / col4end;
    grid-row: row3start;
}

#input6{
    grid-column: col5start / col5end;
    grid-row: row3start;
}

#label4{
    grid-column: col1start / col1end;
    grid-row: row4start;
}

#input7{
    grid-column: col2start / col5end;
    grid-row: row4start;
}

#label5{
    grid-column: col1start / col1end;
    grid-row: row5start;
}

#input8{
    grid-column: col2start / col5end;
    grid-row: row5start;
    resize: none;
    margin-bottom: 7.5px;
}